[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
numpy = "*"
xgboost = "*"

[dev-packages]
pandas = "*"
seaborn = "*"
requests = "*"
scikit-learn = "==1.3.0"

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
